.index_logo__LO6Yn{
    display: inline-block;
    width: 156px;
    cursor: pointer;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle!important;
}


.alert-container {
position: fixed;
top: 5%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 9999; /* 确保警告框在顶部 */
}

.alert {
    width: 375px; /* 调整警告框的宽度 */
}